
.container-out {
  width: 90%;
  margin: 0 auto;

  @include mobile {
    width: 80%;
  }

  @include desktop {
    width: 80%;
  }
}

.container-in {
  width: 100%;
  margin: 0 auto;

  @include mobile {
    width: 90%;
  }

  @include desktop {
    width: 80%;
  }
}

.clearfix::after {
  @include mobile {
    @include clearfix;
  }
}
