


/********** WELCOME *********/

.welcome {
  @extend %centered;
  margin: 40px 0;
  & p {
    @include mobile {
      font-size: 1.4em;
      text-align: left;
    }
  }
}

.profile-pic {
  border-radius: 50%;
  width: 175px;

  @include mobile {
    width: 200px;
    display: block;
    float: right;
    background: red;
  }
}

.intro {
  font-size: $font-intro-mobile;

  @include desktop {
    font-size: 1.8em;
  }
}

/********** PORTFOLIO *********/

#portfolio {
  @extend %centered;
  background: $color-secondary;
  padding: 30px 0;
}

.gallery {
  margin: 0;
  padding: 0;
  & li {
    display: block;
    padding: 15px 0;

    @include mobile {
      width: 48%;
      float: left;
      margin: 0 1%;
    }

    @include desktop {
      width: 31.327%;
    }
  }
  & li p {
    padding: 10px 20px;
  }

  & li:nth-child(2n+1) {
    @include mobile {
      clear: left;
    }

    @include desktop {
      clear: none;
    }
  }
  & li:nth-child(3n+1) {
    @include desktop {
      clear: left;
    }
  }

  & img:hover {
    @include desktop {
      transform: scale(1.2);
      transition: 0.4s;
    }
  }
}


/********** CONTACT *********/

.info {
  & li {
    display: block;
    margin: 30px 0;
    font-size: 0.97em;
  }
  a {
    color: $color-contact-link;
      &:hover, &:visited {
        color: $color-contact-link;
      }
    @include link;
  }
  & li.phone a {
    background-image: url(../img/phone.png);
  }
  & li.email a {
    background-image: url(../img/mail.png);
  }

  & li:hover {
    @include desktop {
      transform: scale(1.1);
    }
  }
}

#contact {
  padding: 40px 0 50px;
  & p {
    display: block;
    padding: 20px 0;

    @include mobile {
      font-size: 1.1em;
    }
  }
}
