footer {
  border-top: 2px solid lightgray;
}

.footer-name {
  color: #3b3b3b;
  font-size: 0.8em;
  float: left;
  font-weight: 500;
}

.footer-nav {
  display: none;

  @include mobile {
    margin-top: 20px;
    display: block;
    float: right;
  }

  & li {
    @include mobile {
      display: inline-block;
    }
  }

  & a {
    @include mobile {
      margin-left: 20px;
    }
  }

  @include desktop {
    margin-top: 25px;
  }
  & li a {
    @include mobile {
      font-size: 0.7em;
    }
  }
  & a:hover {
    @include mobile {
      color: #bdbdbd;
      transition: 0.5s;
    }
  }
}

.footer-name, .footer-nav {
  @include mobile {
    font-size: 1em;
  }

  @include desktop {
    font-size: 1.2em;
  }
}

.mobile-footnav {
  @include mobile {
    display: none;
  }
  & p {
      float: right;
  }
}
