footer {
  border-top: 2px solid lightgray;
}

.footer-name {
  color: $color-footer-name;
  font-size: $footname-size;
  float: left;
  font-weight: 500;
}

.footer-nav {
  display: none;

  @include mobile {
    margin-top: 20px;
    display: block;
    float: right;
  }

  & li {
    @include mobile {
      display: inline-block;
    }
  }

  & a {
    @include mobile {
      margin-left: 20px;
    }
  }

  @include desktop {
    margin-top: 25px;
  }
  & li a {
    @include mobile {
      font-size: $footlink-mobile-size;
    }
  }
  & a:hover {
    @include mobile {
      color: $color-nav-hover;
      transition: 0.5s;
    }
  }
}

.footer-name, .footer-nav {
  @include mobile {
    font-size: $footNameNav-mobile-size;
  }

  @include desktop {
    font-size: $footNameNav-size;
  }
}

.mobile-footnav {
  @include mobile {
    display: none;
  }
  & p {
      float: right;
  }
}
