
* {
	box-sizing: border-box;
}

body {
  background: $color-primary;
}

p {
  color: #9d9d9d;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  color: #606060;
}

h3 {
  color: #787878;
}

#contact {
  text-align: center;
}
