
* {
	box-sizing: border-box;
}

body {
  background: $color-primary;
}

p {
  color: $color-paragraph;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  color: $color-h2;
}

h3 {
  color: $color-h3;
}

#contact {
  text-align: center;
}
