$color-primary: #f0f0f0;
$color-secondary: #fff;
$color-paragraph: #9d9d9d;
$color-contact-link: #35a3c4;
$font-railway: 'Railway';
$font-arimo: 'Arimo';
$font-intro-mobile: 1.2em;

// Media Query Breakpoints

$brk-narrow : 769px;
$brk-wide : 1025px;
