$color-primary: #f0f0f0;
$color-secondary: #fff;
$color-name: #444444;
$color-h2: #606060;
$color-h3: #787878;
$color-paragraph: #9d9d9d;
$color-a: #676767;
$color-nav-hover: #bdbdbd;
$color-contact-link: #35a3c4;
$color-footer-name: #3b3b3b;
$font-railway: 'Railway';
$font-arimo: 'Arimo';
$font-intro-mobile: 1.2em;
$footname-size: 0.8em;
$footlink-mobile-size: 0.7em;
$footNameNav-mobile-size: 1em;
$footNameNav-size: 1.2em;
$color-profile-mobile: red;
$welcome-mobile-size: 1.4em;
$intro-desktop-size: 1.8em;
$intro-li-font-size: 0.97em;
$contactp-mobile-size: 1.1em;

// Media Query Breakpoints

$brk-narrow : 769px;
$brk-wide : 1025px;
